<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" href="/static/style.css">
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Chat</h1>
    <div id="chatbox">
      <% for(let text of allTexts) { %>
        <%= text.username+ " : " +text.text %> <br>
      <% } %>
    </div>
    
    <form action="/chat" method="post">

      <label for="chat">Text here: </label>
      <input type="text" name="text" id="text" />
      <input type="hidden" type="text" id="User" name="first" value="" size ="40" />
      <button type="submit">Send</button>
    </form>
    
    <script>
      window.scrollTo(0,document.body.scrollHeight);
    //Saves to localStorage
    const user = localStorage.getItem('name');

    //Get texts using ajax every 1 second
    document.getElementById('User').value = user;
    setInterval(function getTexts() {
      $.ajax({
        url: "/chats",
      }).done(function(data) {
        document.getElementById("chatbox").innerHTML="";
        for(let text of data.allTexts) {
          document.getElementById("chatbox").insertAdjacentHTML("beforeend",text.username+ " : " +text.text+ "<br>");
        }
      });
    }, 1000);
    
      
    
   
    </script>
  </body>
</html>