<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat room-Home</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div id="particles-js">
      <div class="heading">
        <h1>Home Page</h1>
        <h3>Group chat application - IEEE Task</h3>
      </div>
      <nav>
        <ul>
          <li class="li"><a href="/signin" class="link">Sign In</a></li>
         
          <li class="li"><a href="/signup" class="link">Sign Up</a></li>
        </ul>
      </nav>
    </div>
    <!-- 
    <h1> Home Page</h1> -->
    <!-- <p><ul>
  <li><a href="/signin">Sign In</a></li>
  <li><a href="/signup">Sign Up</a></li>
</ul></p> -->

    <!-- Import Particles.js and app.js files -->
    <script src="/particles/particles.js"></script>
    <script src="/particles/demo/js/app.js"></script>
  </body>
</html>
