<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat room-Home</title>
</head>
<body>
    <h1> Home Page</h1>
<p><ul>
  <li><a href="/signin">Sign In</a></li>
  <li><a href="/signup">Sign Up</a></li>
</ul></p>
</body>
</html>
